.Liste-Offre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.vignette {
  height: 469px;
  width: 240px;
  margin-bottom: 10px;
}

.profpic {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.head-vignette {
  display: flex;
  flex-direction: row;
}
.article {
  height: 360px;
  width: 210px;
  margin-bottom: none;
}
.price {
  font-size: 10px;
  font-weight: bold;
}
.desc {
  line-height: 1px;
}
.desc p {
  font-size: 10px;
}
